@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

@layer bsae {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Noto Sans TC", sans-serif;
  }

  #__next {
    min-height: 100vh;
    position: relative;
    min-width: 360px;
  }
}
